#footer{
	bottom: 0;
	height: 60px;
	text-align: center;
	position: absolute;
	width: 100%;
}

#footer p{
	color: #16841B;
	font-size: 15px;
}

.Container{
	margin-top: 100px;
	min-height: 800px;
}

.navbar{
	background: #20BE27;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	background-color: #19961F;
	color: #000;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #16841B;
}